.message-list {
  list-style: none;
  padding: 0;
}

.message-item {
  padding: 8px;
  margin: 4px 0;
}

.message-text {
  display: flex;
}

.message-user-time {
  display: flex;
  align-items: center;
}

.message-timestamp {
  margin-left: 10px; 
  color: gray; 
  font-size: 0.8em;
}